@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
img.card-img-top {
  width: 60%;
  margin-left: 17%;
}
.custom-class {
  background-color: #f5f5f5 !important;
}
#doc1 {
  background-color: #06b6d4;
  border-radius: 20px;
}

#card {
  background-color: #1e3a8a;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Navigation bar styles */
#nav {
  background-color: #1e3a8a;
  z-index: 1;
  width: 100%;
  position: -webkit-sticky; /* Pour Safari sur iOS < 13 */
  position: sticky; /* Pour les navigateurs modernes */
  top: 0;
}
/* Effet Shift */
.navbar-nav .nav-link {
  position: relative;
  z-index: 1;
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #91640f;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  background: #06b6d4;
  opacity: 0;
  transition: opacity 0.3s, height 0.3s;
  z-index: -1;
}

.navbar-nav .nav-link:hover::after {
  opacity: 1;
  height: 100%;
}

/* Global card styles */
.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  color: #6c757d;
}

.badge {
  font-size: 0.8rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.links {
  background-color: white;
}

.nav-link {
  color: orange !important;
}

.card-alt {
  background-color: white;
}

/* Footer.module.css */
footer {
  width: 100%;
  background-color: #ccc;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000; /* Assurez-vous que le footer est au-dessus du contenu */
}
.scrollbar-container {
  height: calc(90vh - 20px); /* Hauteur ajustée */
  overflow-y: auto; /* Défilement vertical activé */
  scroll-behavior: smooth; /* Défilement fluide */
}

/* Supprime les styles spécifiques de la scrollbar */
.scrollbar-container::-webkit-scrollbar {
  width: 5px;
}

.scrollbar-container::-webkit-scrollbar-thumb {
  background-color: #38605d;
  border-radius: 4px;
}

.scrollbar-container::-webkit-scrollbar-track {
  background: none;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem; /* Espace entre les cards */
}

.justeprix, .mastermind, .myuka , .portfolio{
  width: 400px;      /* Format rectangulaire */
  height: 250px;     /* Format rectangulaire */
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #fff;
  position: relative;
  background-color: #000;
}

/* Images */
.justeprix-img, .mastermind-img, .myuka-img ,.portfolio-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Corps de la card */
.justeprix-body, .mastermind-body, .myuka-body, .portfolio-body {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: #1f3d4738;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  color: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: right 0.8s;
}

/* Titres */
.justeprix-title, .mastermind-title, .myuka-title, .portfolio-title {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  margin: 0;
}

/* Sous-titres */
.justeprix-sub-title, .mastermind-sub-title, .myuka-sub-title, .portfolio-sub-title {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  margin: 0.3rem 0;
}

/* Description */
.justeprix-info, .mastermind-info, .myuka-info , .portfolio-info {
  font-size: 15px;
  line-height: 20px;
  margin: 0.5rem 0;
  font-weight: 400;
}

/* Boutons */
.justeprix-btn, .mastermind-btn, .myuka-btn, .portfolio-btn {
  color: #1f3d47;
  background-color: #8fabba;
  padding: 8px 16px;
  border-radius: 5px;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-weight: 500;
  cursor: pointer;
  width: 120px;
  margin-top: 0.5rem;
  font-size: 14px;
}

/* Effet Hover */
.justeprix:hover .justeprix-body,
.mastermind:hover .mastermind-body,
.myuka:hover .myuka-body , .portfolio:hover .portfolio-body {
  right: 0;
  transition: right 0.8s; /* Assure une transition fluide */
}
